*{
    margin: 0px;
    padding: 0px;
}

.uno{
    display: inline-block;
    color: white;
    font-size: 50px;
    margin: 25px;
    height: 500px;
    width: 500px;
    background: steelblue;
    padding:20px;
    border: 10px solid indigo;
}
.dos{
    display: inline-block;
    color: white;
    font-size: 50px;
    margin: 25px;
    height: 500px;
    width: 500px;
    background: red;
    padding:20px;
    border: 10px solid maroon;
}