*{
    margin: 0px;
    padding: 0px;
}

body{
    background: beige;
}

.contenedor{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    background: lightgreen;
    width: 80%;
    margin: 20px;
    padding: 20px;
}

.caja{
    /* width: 150px;
    height: 150px;
    margin: 15px; */
    border: 4px solid black;
    background-color: brown;
    
    text-align: center;
    color: white;
    line-height: 150px;
}

.c1{
    grid-column: 1/5;
    background: lightblue;
}

.c2{
    grid-column: 1/3;
}

.c3{
    grid-row: 3/span 2;
    background:orange;
}

.c12{
    background: pink;
    grid-area: 3/2/4/3;
}