.colb{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: solid 1px black;
  width: 100px;
  height: 100px;
}

.colw{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: solid 1px black;
  width: 100px;
  height: 100px;
}